.body {
    background-color: #5B8266 ;

}

.form {
    background-color: #212922;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.25);
    border-radius: 11px;
}

.submit {
    background-color: #D9D9D9;
    color: black;
}

.submit:hover {
    background-color: #3E6259 ;
    
}

.formHeading {
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.label {
    color: white;
}

.predictionText {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
  }

.solutionText {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
    white-space: pre-line;
  }